html,body, #root {
  width: 100%;
  height: 100%;
}

* {
  margin:0;
  padding: 0;
}

#treemap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
  transform-origin: 0 0 0;
}

.canvas {
  top:0;
  left: 0;
  position: absolute;
  z-index: 0;
  transform-origin: 0 0 0;
}

.textLayer {
  z-index: 2;
  transform-origin: 0 0 0;
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  will-change: transfrom;
}

.sector {
  z-index: 3;
  display: flex;
  position: absolute;
  flex-direction: column;
  will-change: transfrom;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color:white;
  border: 2px solid black;
  box-sizing: border-box;
  background: transparent;
  overflow: hidden;
  font-size: 1rem;
}
.sector:hover {
  border-color: #ffd84c;
}
.sector:hover .sector-name { background-color: #ffd84c; color:black}

.sector-name {
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: flex-start;
  color: white;
  background-color: black;
  width: 100%;
  max-height: 1em;
  max-width: 100%;
  direction: rtl;
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0.015em 0.015em 0 rgb(50 49 54 / 28%);
}

.tile {
  z-index: 2;
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transfrom;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color:white;
}

.tile-name, 
.tile-change {
  direction: rtl;
  text-align: center;
  will-change: transfrom;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: 0.015em 0.015em 0 rgb(50 49 54 / 28%);
}

.tile-change {
  direction: ltr;
 }
